---
import { siteConfig } from "../config";
---

<section id="contact" class="p-8 sm:p-12 md:p-16 lg:p-24">
  <div>
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
      <div class="lg:col-span-4">
        <h2
          class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-gray-900"
        >
          Contact Me
        </h2>
        <div
          class="w-[75px] h-[5px] mt-2 rounded-full"
          style={`background-color: ${siteConfig.accentColor}`}
        >
        </div>
      </div>

      <div class="lg:col-span-8 space-y-8">
        <p class="text-lg sm:text-xl md:text-2xl leading-relaxed text-gray-600">
          <form action="https://formspree.io/f/xvgwwjzd" method="POST">
            <label>
              Your name:
              <input type="text" name="name" required/>
            </label>
            <label>
              Your email:
              <input type="email" name="email" required/>
            </label>
            <label>
              Your phone:
              <input type="text" name="phone"/>
            </label>
            <label>
              Your message:
              <textarea name="message" required></textarea>
            </label>
            <button type="submit">Send</button>
          </form>
        </p>
      </div>
    </div>
  </div>
</section>
